.body__footer {
  margin: 66px auto 60px 0;
}

@media screen and (max-width: 1024px) {
  .body__footer {
    margin: 66px 100px 60px 100px;
  }
}

@media screen and (max-width: 750px) {
  .body__footer {
    margin: 35px auto 35px auto;
    max-width: calc(85%);
  }
}

@media screen and (max-width: 320px) {
  .body__footer {
    margin: 48px auto 36px 19px;
  }
}