.profile {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
  .profile {
    display: block;
    margin: 0 auto;
    max-width: calc(100% - 19px * 2);
    text-align: center;
  }
}